@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:300);

body{
    background-image: url('../images/background.jpeg');
    background-size : cover;
    background-attachment: fixed;
}
.page {
    background-color :#C1B5A9;
    width:50%;
    padding:4rem;
    margin: 10rem auto;
    border-radius: 3rem;
}
.title{
    font-family: 'Tangerine';
    font-size: 700%;
    text-align: center;
}
.contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kant {
    width: 9rem;
    height: auto;
    margin-top: 4%;
}

.explanation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.help {
    margin-left: 3rem;
    font-family: 'Caveat',cursive;
    font-size : 1.3rem
}
.essay {
    margin: 1rem 1rem 0 1rem;
    font-family: 'Caveat',cursive;
    font-size : 1.3rem;
}

.search-box{
    display:flex;
    justify-content: center;
}

.prefix-box{
    display: flex;
    text-align: center;
    flex-direction: row;
    height:60px;
    width:400px;
    margin-top: 2rem;
    position: relative;
}

.prefix-box input{
    justify-content: center;
    height:100%;
    width:70%;
    border:none;
    outline:none;
    background:#fff;
    font-size: 18px;
    border-radius: 50px;
    padding:0 60px 0 20px;
}

.prefix-box .search-btn{
    position: absolute;
    top:50%;
    left : 74%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    color : #fff;
    background-color: #C1B5A9;
    line-height: 50px;
    font-size:20px;
    text-align: center;
    border-radius: 50px;
    cursor:pointer;
}

.prefix-box .cancel-btn{
    position: absolute;
    top:50%;
    left : 95%;
    transform: translateY(-50%);
    color:#fff;
    cursor: pointer;
    font-size:25px;
}

.box{
    display: inline-block;
    margin:0 -4px -5px -2px;
    transition: all .2s ease;
    height: 3rem;
} 
  
.loader{
    position:relative;
    text-align : center;
    width: 150px;
    height: 20px;
    top: 45%;
    top: -webkit-calc(50% - 10px);
    top: calc(50% - 10px);
    left: 25%;
    left: -webkit-calc(50% - 75px);
    left: calc(50% - 75px);
    display : none;
    background-color: rgba(255,255,255,0.2);
    margin-top : 10px;
  }
  
  .loader:before{
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 0px;
    z-index: 0;
    opacity: 1;
    -webkit-transform-origin:  100% 0%;
        transform-origin:  100% 0% ;
    -webkit-animation: loader 10s ease-in-out infinite;
        animation: loader 10s ease-in-out infinite;
  }
  
  .loader:after{
    content: "I'M THINKING ...";
    color: #fff;
    font-family:  Lato,"Helvetica Neue" ;
    font-weight: 200;
    font-size: 16px;
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 20px;
    left: 0;
    top: 0;
  }
  
  @-webkit-keyframes loader{
      0%{width: 0px;}
      70%{width: 100%; opacity: 1;}
      90%{opacity: 0; width: 100%;}
      100%{opacity: 0;width: 0px;}
  }
  
  @keyframes loader{
      0%{width: 0px;}
      70%{width: 100%; opacity: 1;}
      90%{opacity: 0; width: 100%;}
      100%{opacity: 0;width: 0px;}
  }

  @media (max-width:900px){
      .title {
        font-size : 500%;
      }
      .explanation {
        flex-direction: column;
      }
      .page {
        display : block;
      }
      .help{
        margin-left : 0rem;
      }
      .explanation {
        text-align: center;
      }
      .image {
        display: flex;
      }
      .kant {
        justify-content: center;
      }
  }

  @media (max-width:670px){
    .title {
        font-size : 400%;
    }
    .help .essay{
        font-size : 100%
    }
    .cancel-btn{
        display: none;
    }
    .search-btn {
        left : 0%;
        right : 5%;
    }

  }
  @media (max-width:270px){
    .title {
        font-size : 300%;
    }
  }

::-webkit-input-placeholder {
    font-family: 'Caveat',cursive;
}