@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body{
    background-image: url('../images/background.jpeg');
    background-size : cover;
    background-attachment: fixed;
}
.page {
    background-color :#C1B5A9;
    width:50%;
    padding:4rem;
    margin: 10rem auto;
    border-radius: 3rem;
}
.header{
}

.title{
    font-family: 'Tangerine';
    font-size: 9rem;
    text-align: center;
}
.kant {
    width: 9rem;
}

.explanation {
    display: flex;
    margin-left: 5rem;
}
.help{
    margin-left: 3rem;
    font-family: 'Caveat',cursive;
    font-size : 1.4rem;
}

.prefix-box{
    display: flex;
    height:60px;
    width:350px;
    margin-top: 2rem;
    position: relative;
}

.prefix-box input{
    justify-content: center;
    height: 100%;
    width:100%;
    border:none;
    outline:none;
    background:#fff;
    font-size: 18px;
    border-radius: 50px;
    padding:0 60px 0 20px;
    justify-content: center;
}

.prefix-box .search-btn{
    position: absolute;
    top:50%;
    right:10px;
    transform: translateY(-50%);
    height:50px;
    width:50px;
    color : #fff;
    background-color: #C1B5A9;
    line-height: 50px;
    font-size:20px;
    text-align: center;
    border-radius: 50px;
    cursor:pointer;
}

.prefix-box .cancel-btn{
    position: absolute;
    top:50%;
    right : -35px;
    transform: translateY(-50%);
    color:#fff;
    cursor: pointer;
    font-size:25px;
}