<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Ghostwriter Kant</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"> </script>
</head>

<body>
    <div class="page">
        <div class="header">
            <div class="title">Ghostwriter Kant</div>
        </div>
        <div class="contents">
            <div class="explanation">
                <img class="kant" src="../static/images/kant.jpg">
                <div class="help">
                    Hello I'm Immanuel Kant.<br>
                    It was pretty hard to understand my papers, right?<br>
                    Don't worry about your essay.<br>
                    I'm gonna be your own ghostwriter.<br>
                    Just let me know how to get started!<br>
                </div>
            </div>
            <div class="prefix-box">
                <form id="prefix-form" action="/essay">
                    <input type="text" id="prefix" placeholder="It starts with...">
                    <div class="search-btn">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="cancel-btn">
                        <i class="fas fa-times"></i>
                    </div>
                </form>
            </div>
        </div>

</body>

</html>